/* 背景色 #f1eded */
h1,
.hamburger,
.sidebar {
  background-color: rgb(28, 28, 125);
}

/* 文字色オレンジ */
h1,.hamburger,
.sidebar ul li a {
  color: wheat;
}


html, body {
  height: 100%;
  margin: 0; /* デフォルトの余白を消す */
  background-color: #f7f8fa;
}

.back-color{
  background-color: #f7f8fa;
}
h1{
    text-align: center;
    border-bottom: 5px solid orange;
    font-size: 60px;
    padding-top: 20px;
    padding-bottom: 20px;
}

h2{
  background-color: #e1dfdfcc;
}

.hamburger {
  width: 80px;
  height: 80px;
  padding: 10px; 
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 1001;
  border: none;
  font-size: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* サイドバー初期スタイル（非表示状態） */
.sidebar {
  position: fixed;
  padding-top: 70px !important;
  top: 0;
  left: 0;
  width: 200px;
  height: 100vh;
  border-right: 2px solid orange;
  padding: 20px;
  transform: translateX(-100%);
  transition: transform 0.3s ease;
  z-index: 1000;
  font-size: 36px;
  white-space: nowrap;       /* ← 改行を禁止 */
  overflow: hidden;          /* ← はみ出す分を隠す */
  text-overflow: ellipsis;   /* ← はみ出したら「…」で省略 */
}

/* サイドバーが開いた状態 */
.sidebar.active {
  transform: translateX(0);
}

.hamburger.no-border {
  border: none !important;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li a {
  text-decoration: none;
  display: block;
  margin: 10px 0;
}

.product-card {
  border: 3px solid black;
  border-radius: 8px;
  padding: 10px;
  text-align: center;
  background-color: #d7e7fa;
  transition: 0.3s;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.product-card:active {
  opacity: 0.7;
  transform: scale(0.98);
}

.product-card:hover {
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.product-card img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  max-height: 200px
}

h5{
  font-size: 30px;
  border-top: 4px solid black;
}
