body {
      font-family: sans-serif;
    }
#searchForm {
    display: none;
    margin-top: 10px;
}

    /* 表示切り替え用クラス */
.visible {
    display: block;
}

/* トグルボタンの見た目を調整 */
#toggleButton {
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
}